node_modules
npm-debug.log
.git
.gitignore
.wwebjs_auth
.wwebjs_cache
*.mp3
*.mp4
*.jpg
*.png
*.jpeg
*.webp
*.tmp
README.md
README-DOCKER.md
DOCUMENTACION.md
docker-compose.yml
.dockerignore
Dockerfile
